.hat{

    position: absolute;
    width: 1920px;
    height: 557px;
    left: 0px;
    top: -39px;
}

.nav{
    display:flex;
    flex-flow: row no;
}

.HitarforBegin
{
    position: absolute;
    width: 771px;
    height: 77px;
    left: 89px;
    top: 161px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    text-align: center;

    color: #FBF7F7;
}

.CourseforThose{
    position: absolute;
    width: 764px;
    height: 39px;
    left: 67px;
    top: 275px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
}

.nav-list{
    margin:0;
    padding:0;
    position: absolute;
    height: 44px;
    left:1248px;
    top: 36px;
}

.nav-li{
    display:inline-block;
    padding: 0 30px;
}

.nav-list .nav-li .list-item {

    text-decoration: none;
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: center;

    color: #FDFDFD;
}

.why{
    position: absolute;
width: 1374px;
height: 99px;
left: 264px;
top: 618px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;
text-align: center;

color: #000000;
}

.paragraph1 .header
{
    position: absolute;
width: 1138px;
height: 79px;
left: 449px;
top: 817px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
text-align: center;

color: #000000;
}

.paragraph1 .str
{
    position: absolute;
    width: 1188px;
    height: 141px;
    left: 519px;
    top: 986px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    
    color: #000000;
}

.paragraph1 .picture
{
    position: absolute;
    width: 182.65px;
    height: 179px;
    left: 157px;
    top: 986px;
    
    background: url(png-clipart-bar-chart-pie-chart-others-miscellaneous-angle.png);
}

.paragraph2 .header
{
    position: absolute;
    width: 997px;
    height: 106px;
    left: 550px;
    top: 1273px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    
    color: #000000;
    
}

.paragraph2 .str
{
    position: absolute;
    width: 1144px;
    height: 344px;
    left: 533px;
    top: 1427px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    
    color: #000000;
}

.paragraph2 .picture
{
    position: absolute;
    width: 198.32px;
    height: 179px;
    left: 157px;
    top: 1423px;
    
    background: url(png-clipart-piggy-bank-finance-money-saving-piggy-bank-black-and-white-saving-dog-like-mammal.png);
}

.paragraph3 .header
{
    position: absolute;
    width: 1177px;
    height: 165px;
    left: 460px;
    top: 1668px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    
    color: #000000;
    
}

.paragraph3 .str
{
    position: absolute;
    width: 1200px;
    height: 252px;
    left: 498px;
    top: 1881px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    
    color: #000000;
}

.paragraph3 .picture
{
    position: absolute;
    width: 179px;
    height: 179px;
    left: 173px;
    top: 1860px;
    
    background: url(clipart-computer-computer-center-11.png);
}










.pictureFooter{
    position: absolute;
width: 1920px;
height: 317px;
left: 0px;
top: 2085px;

background: #D9D9D9;
}

.footerStr{
    position: absolute;
width: 544px;
height: 137px;
left: 32px;
top: 2176px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
text-align: center;

color: #000000;
}

.phone{
    position: absolute;
width: 529px;
height: 99px;
left: 1325px;
top: 2161px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
text-align: center;

color: #000000;
}

.button3{
    position: absolute;
width: 476px;
height: 120px;
left: 1343px;
top: 2238px;

background: #97AD95;
border-radius: 35px;
}

.button3:hover{
    background:#a1bc9e;
}